*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: Brushstrike;
    src: url(../fonts/brushstrike2.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: Bebas_neue;
    src: url(../fonts/BebasNeue.otf) format("truetype");
}
@font-face {
    font-family: Chunk;
    src: url(../fonts/Chunk.ttf) format("truetype");
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
}
li{
    color: white;
    text-decoration: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
li:hover{
    color: #000000;
}
/* HEADER */
.topblack{
    background-color: black;
    height: 65px;
    font-family: "Open Sans";
    letter-spacing: 3px;
}
.topblack p{
    color: white;
    text-align: center;
    padding-top:20px;
}
.bigmenu{
    height: 899px;
    background: url("../img/s.png"), url("../img/man.png") 50% 100% no-repeat;
}
.mainmenu{
    background-color: rgba(0, 153, 222,0.6);
    height: 86px;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;

}
#o1{
    font-size: 149px;
    font-family: "Brushstrike";
    color: white;
}
#o2{
    font-family: "Bebas_neue";
    font-size: 60px;
    color: white;
}
.menu{
    font-family: "Open Sans";
    font-size: 18px;
    color: white;
    font-weight: 600;
    padding-top: 31px;
}
.menu i{
    display: none;
}
.shopcar{
    float: right;
    padding: 24px 20px;
    margin-right: 80px;
}
.menu li{
    padding-left: 35px;
    text-align: center;
}
.logo, .logo1{
    float: left;
}
.logo{
    border-right:2px solid black;
    margin-top: 13px;
    margin-bottom: 12px;
    padding: 0px 20px;
    margin-left: 50px;
}
.logo1{
    padding-right: 22%;
    padding-top: 27px;
}
.techfeat div{
    display: inline-block;
}
.techfeat{
    height: 200px;
    background-color: white;
}
.logos{
    float: right;
    padding: 75px 50px 0px 45px;
}
.logos img{
    width: 900px;
}
.techtext{
    float: left;
    font-size: 35px;
    letter-spacing: 5px;
    font-weight: 700;
    padding: 75px 15px 0px 100px;
    font-family: "Open Sans";
    color: rgb(14, 21, 85);
}
/* MAIN */
.blackst{
    height: 215px;
    background-color: black;
}
.greyst{
    height: 807px;
    background-color: #f3f3f3;
}
.whitest{
    height: 772px;
    color: white;
}
.greyst iframe {
    border: none;
    height: 600px;
    width: 900px;
    float: right;
    padding: 75px 110px 0px 0px;
}
.blackst{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.blackst div{
    color: white;
}
.blackst p{
    color: white;
}
.blcb{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.txtbl{
    font-family: "Open Sans";
    font-size: 25px;
    padding-left: 30px;
    letter-spacing: 5px;
    font-weight: 800;
}
.textblock{
    float: left;
    padding: 110px 0px 0px 110px;
    font-family: "Open Sans";
}
.gm{
    font-size: 60px;
    font-weight: 700;
    color: rgb(14, 21, 85);
    padding-bottom: 10px;
    letter-spacing: 6px;
}
.prt{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
    letter-spacing: 6px;
}
.bluea{
    color: #0f72b9;
    font-size: 28px;
    border-left: 5px solid;
    border-left-color: #e1e1e1;
    padding-left: 10px;
}
.b1{
    margin-top: 20px;
}
.greyb{
    text-align: center;
    width: 300px;
    font-size: 30px;
    border: 2px solid;
    border-color: #5499ca;
    border-radius: 60px;
    padding: 16px;
    margin-top: 40px;
}
.greyp{
    margin-top: 40px;
}
.wtxt{
    color: rgb(14, 21, 85);
    font-size: 40px;
    letter-spacing: 7px;
    font-weight: 800;
}
.wdot{
    color: black;
    font-size: 100px;
}
.whitest{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.wimg img{
    padding-left: 30px;
}
.insta{
    height: 800px;
    background-color: #5499ca;
    background-image: url("../img/man2.png");
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 125px;
}
.htag{
    color: white;
    font-family: "Open Sans";
    font-size: 30px;
    padding-bottom: 30px;
    letter-spacing: 10px;
}
.htag div{
    display: flex;
    justify-content: center;
}
.photab{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.photab div{
    padding: 10px;
}
/*BLOCK 3*/
.colum3{
    display: flex;
    height: 900px;
    justify-content: space-around;
}
.colums1, .colums2, .colums3{
    margin: 195px 10px 195px 10px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid grey;
    width: 30%;
    font-family: "Open Sans";
}
.colums1{
    display: flex;
    flex-direction: column;
    background-image:url("../img/slide.png"),url("../img/block3black.png"),url("../img/block1.png") ;
    z-index: 1;
    background-size: auto, cover, cover;
    background-position: right, center, center;
    background-repeat: no-repeat;
}
.colums1 img{
    height: 43%;
    padding: 20px 10px;
    background-color: #e2e5e7;
}
.colums2{
    display: flex;
    flex-direction: column;
    background-image:url("../img/slide.png"),url("../img/block3black.png"),url("../img/block2.png") ;
    z-index: 1;
    background-size: auto, cover, cover;
    background-position: right, center, center;
    background-repeat: no-repeat;
}
.colums2 img{
    height: 43%;
    padding: 20px 10px;
    background-color: #e2e5e7;
}
.colums3{
    display: flex;
    flex-direction: column;
    background-image:url("../img/slide.png"),url("../img/block3black.png"),url("../img/block3.png") ;
    z-index: 1;
    background-size: auto, cover, cover;
    background-position: right, center, center;
    background-repeat: no-repeat;

}
.colums3 img{
    height: 43%;
    padding: 20px 10px;
    background-color: #e2e5e7;
}
.colums1 p, .colums2 p, .colums3 p{
    margin-top: 50%;
    font-family: "Chunk";
    font-size: 40px;
    color: white;
}
.headcol1{
    height: 75px;
    width: 100%;
    z-index: 100;
    background-image: url("../img/block1-1.png");
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
}
.headcol2{
    height: 75px;
    width: 100%;
    z-index: 100;
    background-image: url("../img/block2-1.png");
    background-size: cover;
    background-position: center center ;
    background-repeat: no-repeat;
}
.headcol3{
    height: 75px;
    width: 100%;
    z-index: 100;
    background-image: url("../img/block3-22.png"), url("../img/block3-1.png") ;
    background-size: auto, cover;
    background-position: right, center;
    background-repeat: no-repeat;
}
.footcol1, .footcol2, .footcol3{
    background-color: #0d6cb6;
    color: white;
    width: 100%;
    text-align: center;
    height: 30px;
    padding: 10px 0px;
}
/*FULLVIDEO*/
.fullvideo{
    width: 100%;
    height: auto;
}
.fullvideo iframe{
    width: 100%;
    height: 1100px;
}
.whitest2{
    height: 772px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
/*FOOTER*/
footer{
    background-color: #0d6cb6;
    color: black;
}
.topfot{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid grey;
    margin: 0px 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
}
.fot1, .fot2{
    margin-right: 40px;
}
.fot1{
    color: white;
    font-family: "Open Sans";
}
.fot1 h4, h6{
    padding-bottom: 25px;
}
.sendi i{
    float: right;
    background-color: white;
    color: #0d6cb6;
    padding: 22px;
}
.sendi{
    display: inline-block;
    background-color: #0d6cb6;
    border: 2px solid white;
    width: 400px;
    height: auto;
    border-radius: 10px;
}
.fot3t{
    padding-bottom: 15px;
}
.fot2 ul li{
    display: block;
    font-family: "Open Sans";
    font-size: 15px;
    padding-bottom: 10px;
}
.fot3{
    color: white;
    font-family: "Open Sans";
    width: 55%;
    height: auto;
}
.fot3b div{
    display: inline-block;
}
.fot3b2, .fot3b3{
    padding-left: 30px;
}
.botfot{
    background-color: #0d6cb6;
    height: 30px;
    padding: 15px 80px;
    font-family: "Open Sans";
    font-size: 15px;
    color: white;
}
.botfot div{
    display: inline-block;

}
.iconfoot{
    float: right;
}


@media screen and (max-width: 1700px){
    .logo1{
        padding-right: 0;
    }
    .greyst iframe{
        padding: 80px 50px 0px 0px;
    }
    .fot3b div{
        display: flex;
        flex-wrap: wrap;
    }
    .fot3b2, .fot3b3{
        padding: 0;
    }
    .techfeat{
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .techfeat div{
        padding: 0;
        padding-right: 20px;
    }

}
@media screen and (max-width: 1500px){
    .greyst iframe{
        height: 450px;
        width: 600px;
        padding: 70px 60px 0px 0px;
    }
    .textblock {
        padding: 110px 0px 0px 50px;
    }
    .wimg{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .mainmenu{
        justify-content: center;
    }
    .mainmenu div{
        padding-left: 40px;
    }
    .menu{
        padding-top: 23px;
    }
    .menu i{
        display: block;
        color: black;
    }
    .menu ul li{
        display: none;
    }
    .headcol1, .headcol2, .headcol3{
        background-position: right;
    }
    .headcol1 img, .headcol2 img, .headcol3 img{
        display: none;
    }
    .logos img{
        width: 750px;
    }
}
@media screen and (max-width: 1300px) {
    .greyst {
        height: 900px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .textblock div, p {
        padding-bottom: 5px;
        display: flex;
        justify-content: center;
    }

    .greyb {
        margin: 10px 0;
        width: auto;
        padding-bottom: 15px;
    }

    .greyst div {
        padding: 0;
    }

    .greyst iframe {
        padding: 0;
        width: 600px;
        height: 350px;
    }
    #o1{
        font-size: 100px;
    }
    #o2{
        font-size: 45px;
    }
    .photab div img{
        height: 200px;
    }
    .wimg img{
        width: 15%;
    }
    .whitest, .whitest2{
        height: 445px;
    }
    .wdot{
        font-size: 70px;
    }
}


@media screen and (max-width: 960px){
    .sendi{
        width: 250px;
    }
    .photab div img {
        height: 140px;
    }
    .bigmenu {
        height: 400px;
        background: url(../img/s.png), url(../img/man.png) 50% 10% no-repeat;
    }
    #o1{
        font-size: 70px;
    }
    #o2{
        font-size: 30px;
    }
    .colums1, .colums2, .colums3{
        margin: 35px 10px 35px 10px;
    }
    .colum3{
        height: 400px;
    }
    .fullvideo iframe{
        height: 500px;
    }
    .htag{
        font-size: 15px;
        padding-bottom: 15px;
        letter-spacing: 7px;
    }
    .insta{
        height: 500px;
    }
    .blcb div{
        font-size: 18px;
    }
    .blcb img{
        height: 60px;
    }
    .logos img{
        width: 500px;
    }
    .fot3t{
        display: none;
    }
    .logo img{
        height: 40px;
    }
    .logo1 img{
        height: 30px;
    }
    .mainmenu div {
        padding-left: 25px;
    }
    .logo{
        margin-top: 19px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 720px){
    .wtxt {
        font-size: 20px;
    }
    .whitest, .whitest2 {
        height: 280px;
    }
    .colum3 div p{
        font-size: 20px;
    }
    .headcol3, .headcol1, .headcol2 {
        height: 45px;
        width: 100%;
        background-size: cover, cover;
        background-position: right, right;
        background-repeat: no-repeat;
    }
    .sendi {
        width: 185px;
    }
    .botfot{
        padding: 15px 20px;
    }
}
@media screen and (max-width: 650px){
    .photab div img {
        height: 115px;
    }
    .photab div{
        padding: 5px;
    }
    .topfot{
        padding: 15px 5px;
        margin: 0;
    }
    .fot1, .fot2{
        padding-right: 10px;
    }
    .topfot div{
        margin: 0;
    }
    .colum3 div p{
        font-size: 15px;
    }
    .blcb img {
        height: 40px;
    }
    .blcb div{
        font-size: 15px;
    }
    .txtbl {
        padding-left: 8px;
    }
    .gm {
        font-size: 30px;
        margin-bottom: 5px;
    }
    .prt {
        font-size: 15px;
        margin-bottom: 5px;
    }
    .bluea {
        font-size: 22px;
    }
    .b1{
        margin-top: 10px;
    }
    .greyp {
        margin-top: 14px;
    }
    .greyst {
        height: 768px;
    }
    .blackst {
        height: 115px;
    }
    .whitest, .whitest2 {
        height: 215px;
    }
    .topblack p{
        font-size: 15px;
    }
    .logo img {
        height: 30px;
    }
    .logo1 img {
        height: 24px;
    }
    .logo {
        margin-top: 23px;
        margin-bottom: 26px;
    }
    .mainmenu div {
        padding-left: 15px;
    }
    .techfeat{
        display: none;
    }
    #o2 {
        font-size: 23px;
    }
    #o1 {
        font-size: 45px;
    }
}
@media screen and (max-width: 500px){
    .logo1{
        display: none;
    }
    .mainmenu div {
        padding-left: 11px;
    }
    .logo img {
        height: 25px;
    }
    #o2 {
        font-size: 21px;
    }
    #o1 {
        font-size: 37px;
    }
    .txtbl{
        display: none;
    }
    .blcb img {
        height: 55px;
    }
    .gm {
        font-size: 25px;
    }
    .prt{
        text-align: center;
    }
    .greyst iframe {
        width: 320px;
        height: 250px;
    }
    .photab div img {
        height: 85px;
    }
    .insta {
        height: 555px;
    }
    .photab div {
        padding: 15px;
    }
    .fullvideo iframe {
        height: 200px;
    }
    .wtxt{
        text-align: center;
    }
    .botfot{
        display: flex;
        flex-direction: column;
        height: 55px;
        align-items: center;
    }
}











