*{
    margin: 0;
    padding: 0;
}
body{
    font: 400 16px/1.5 "Hind", sans-serif;
    color: #565655;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
}
a{
    text-decoration: none;
    color: #333;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
a:hover{
    color: #bd2631;
}
/* header */
/*block1*/
.contact-info {
    background: #ededed;
    padding: 12px 60px 12px 140px;
}
.social-links{
    float: right;
    padding-top: 7px;
}
.contact-info div{
    display: inline-block;
    margin-right: 20px;
}
.social-links a{
    margin-left: 20px;
}
.fa-phone, .fa-location-arrow{
    color: #000000;
}
.phone span{
    font: 800 16px "Hind";
}

.city{
    background: #000000;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 15px;
}
.fa-angle-down{
    margin-left: 15px;
    font-size: 18px;
    margin-top: 4px;
}
/*block2*/
.logo-menu{
    padding:28px 60px 28px 105px ;
    background: #ffffff;
}
.logo-menu div{
    display: inline-block;
}
.subtitles{
    float: right;
    margin-top: 15px;
}
.subtitles div{
    margin-right: 40px;
}
.logo{
    margin-left: 25px;
}
.title{
    font: 800 16px "Hind";
    color: #000000;
}
/*block3*/
.navigation{
    padding: 6px 128px;
    background: #000000;
    color: rgba (0,0,0,0.8)
}
.nav-menu nav{
    float: left;
    padding-top: 5px;
}
.search{
    float: right;
    padding-top: 22px;
    color: #ffffff;
}
.navigation div{
    display: inline-block;
}
nav li a {
    color: #fff;
    font-size: 16px;
    padding: 20px 15px 14px;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
}
nav li a:before{
    content: '';
    position: absolute;
    height: 4px;
    width: 0;
    bottom: 0;
    background: #bd2631;
    left: 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
nav li a:hover:before {
    width: 100%;
}